<section class="jumbotron" ng-class="{'active': isActive('catalog')}" ng-show="user.Company.LogoUrl">
  <customcarousel></customcarousel>
  <div class="container">
    <!-- pull-left if left allignment wanted again-->
    <div class="row jumboHeader">
      <div ng-show="Four51User.isAuthenticated()">
        <a href="catalog">
          <!-- Insert image file here -->
          <img class="bannerLogo" src="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/Top-Promotions/images/Top-Full-Logo-onWhite-500.png" alt="Welcome to the Top Promotions Webstore" />
        </a>
        <homemessage />
      </div>
    </div>
  </div>
</section>