<div class="no-panels" ng-show="currentCategory.SubCategories.length">
  <div ng-show="currentCategory.Description" ng-bind-html="trusted(currentCategory.Description)" class="category_desc"></div>
  <div class="well" ng-show="productCount > settings.pageSize">
    <pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount" items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}"
      first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
  </div>
  <!-- add class hidden-xxs hidden-xs for text category list? -->
  <div class="panel-category-list">
    <loadingindicator ng-show="categoryLoadingIndicator" title="{{'Please wait while we fetch all categories' | r | xlat}}" />
    <nav class="nav 451_lbl_subcatlist">
      <ul>
        <!-- Edit this class to get more programs to fit on page -->
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-xxs-4" ng-repeat="c in currentCategory.SubCategories">
          <!-- Old settings: col-lg-3 col-md-4 col-sm-6 col-xs-12 -->
          <div class="">
            <!-- <a ng-href="catalog/{{c.InteropID}}"> -->
            <a ng-href="{{c.InteropID == 'asi' ? 'asi' : 'catalog'}}/{{c.InteropID}}" class="">
              <figure class="" ng-show="c.Image.URL">
                <!-- <div class="hvr-grow-shadow"> -->
                <img class="img-responsive" ng-src="{{c.Image.URL}}" />
                <!-- </div> -->
                <!-- <h5 class="TPCategoryTitle hidden-sm hidden-md hidden-lg" ng-bind-html="c.Name" /> -->
              </figure>
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>