<section>
  <accountnavigation ng-show="user.Permissions.contains('ViewSelfAdmin') || user.Type == 'Customer'" />
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title panel-primary">{{('Help' | r) | xlat }}</h3>
    </div>
    <div class="panel-body contactUsList" style="font-family:sans-serif">
      <h3>Customer Service</h3>
      <p>If you have any questions about your order, please contact Top Promotions at: 608-826-6990 or via e-mail at <a href="mailto:webservices@toppromotions.com?subject=XXXXX%20XXXXXX%20XXXXX%20Customer%20Service%20Question">webservices@toppromotions.com</a>.
        Office hours are Monday-Friday 8am-5pm CST.</p>
      <h3>Product Delivery</h3>
      <p>Product will be delivered to your stated address via UPS or USPS.</p>
      <h3>Sizing</h3>
      <p>Each product features a size chart to help you select the size best suitable for you.</p>
      <h3>Returns/Exchanges</h3>
      <p>Each item is custom made just for you, we appreciate your understanding that returns are not accepted except in the case of defective product.</p>
      <h3>Payment</h3>
      <p>You may pay via credit card when you checkout. Your card will be pre-authorized. The actual charge will be made when the order has shipped. </p>
      <p>View our <a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/MonthlySpecials/Terms.pdf" target="_blank">Terms & Conditions</a>.</p>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</section>