<section>
  <accountnavigation ng-show="user.Permissions.contains('ViewSelfAdmin') || user.Type == 'Customer'" />
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title panel-primary">{{('Help' | r) | xlat }}</h3>
    </div>
    <!-- <div class="panel-body contactUsList" style="font-family:sans-serif">
      <h3>To Place an Order</h3>
      <p>To place an order, simply pick your items and quantities along with optional department personalization, add to your shopping card and proceed through the checkout process. Please note that each order is custom and will require production time. All of the items featured on this site are made-to-order just for you, so we appreciate your understanding that returns and exchanges are not accepted except in the case of defective product.</p>
      <h3>Sizing</h3>
      <p>Each product features a size chart to help you select the size best suitable for you.</p>
      <h3>Shipping Options</h3>
      <p>You may have your order shipped to you or you may elect to have it shipped to Monona Plumbing where you can pick it up.</p>
      <p>If you select to have your order shipped you will be billed standard shipping rates for the carrier selected.</p>
      <p>For questions regarding the website or an existing order please contact Top Promotions Customer Service at <a href="mailto:webservices@toppromotions.com?subject=Monona%20Plumbing%20Customer%20Service%20Question">webservices@toppromotions.com</a> or 608-826-6990.</p>
      <p>For questions any non-store needs please contact <a href="mailto:rbuswell@toppromotions.com?subject=Top%20Promotions%20Inquiry">rbuswell@toppromotions.com</a> or 608-826-6928</p>
      <p>View our <a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/MonthlySpecials/Terms.pdf" target="_blank">Terms & Conditions</a>.</p>
      <p>Download a <a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/docs/Return.pdf" target="_blank">Return Form</a>.</p>
    </div> -->
    <div class="panel-footer">
    </div>
  </div>
</section>
