<!-- <div class="panel panel-primary">
  <div class="panel-body">
    <p class="text-center">If you have purchased items that are on backorder, please note that any items currently available will be processed and shipped; the backorder will be shipped separately.  If you receive notice of a backorder and wish to instead cancel that portion of your order, please contact Customer Service at 608-826-6990 or <a href="mailto:webservices@toppromotions.com?subject=UW%20Top%20Promotions%20Customer%20Service%20Question">webservices@toppromotions.com</a>.  Please have your original order number available.</p>
  </div>
</div> -->
