<!-- <div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title panel-primary">
      {{'Please Review' | r | xlat}}
    </h2>
  </div>
  <div class="panel-body FontSmall">
    <ul>
      <li>Please review your labcoat order for logo selections, name, classification and department.</li>
    </ul>
    <br>
    <p><i>All of the items featured on this site are made-to-order just for you, so we appreciate your understanding that returns and exchanges are not accepted except in the case of defective product.</i></p>
  </div>
</div> -->
